<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{ path('home') }}">Immobiliare</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
			<span class="navbar-toggler-icon"></span>
		</button>

        {# dump(app.request.get('_route')) #}
        {# Dans AppVariable, je vais chercher l'objet request (getRequest) #}
        {# Dans HttpFoundation\Request, j'appelle la méthode get qui va chercher une clé #}
        {# _route dans la propriété attributes #}
        {% set route = app.request.get('_route') %}

		<div class="collapse navbar-collapse" id="menu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link {{ route == 'home' ? 'active' }}" href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ route == 'property_index' ? 'active' }}" href="{{ path('property_index') }}">Annonces</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ route == 'contact' ? 'active' }}" href="{{ path('contact') }}">Contact</a>
				</li>
			</ul>

			<form action="{{ path('property_index') }}" method="get">
				<input type="text" name="search" class="form-control d-inline w-auto" placeholder="Rechercher un bien...">
				<button class="btn btn-outline-primary">Recherche</button>
			</form>
		</div>
	</div>
</nav>
