{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('property_index') }}">Annonces</a></li>
                <li class="breadcrumb-item active">{{ property.name }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-6">
                {% if property.sold %}
                <img src="{{ asset('img/sold.png') }}" alt="Sold" width="80" class="position-absolute">
                {% endif %}
                <img src="{{ asset('uploads/property/' ~ property.image) }}" class="card-img-top" alt="{{ property.name }}">
            </div>
            <div class="col-lg-6">
                <h1>{{ property.name }}</h1>
                <p>
                    {{ property.surface }}m² - {{ property.rooms }} pièces
                </p>
                <p class="h2">{{ (property.price/100)|number_format(2, ',', ' ') }}€</p>
            </div>
        </div>

        <div class="mt-4">
            {{ property.description }}
        </div>
    </div>
{% endblock %}
