{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('property_index') }}">Annonces</a></li>
                <li class="breadcrumb-item active">{{ property.name }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-6">
                {% if property.sold %}
                <img src="{{ asset('img/sold.png') }}" alt="Sold" width="80" class="position-absolute">
                {% endif %}
                <img src="{{ asset('uploads/property/' ~ property.image) }}" class="card-img-top" alt="{{ property.name }}">
            </div>
            <div class="col-lg-6">
                <h1>{{ property.name }}</h1>
                <p>
                    {{ property.surface }}m² - {{ property.rooms }} pièces
                </p>
                <p class="h2">{{ (property.price/100)|number_format(2, ',', ' ') }}€</p>

                {{ form_start(form) }}
                    <div class="input-daterange row">
                        <div class="col-lg-6">
                            {{ form_row(form.startDate) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.endDate) }}
                        </div>
                    </div>

                    <button class="btn btn-primary">Réserver</button>
                {{ form_end(form) }}

                <div>
                    Total: <span id="total">0</span> € <br />
                    <span id="days">0</span> nuits à {{ property.dayPrice }} € euros la nuit.
                </div>
            </div>
        </div>

        <div class="mt-4">
            {{ property.description }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>
        .disabled {
            text-decoration: line-through;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js" defer></script>

    <script defer>
        window.onload = function () { // On attends que le DOM soit chargé
            $('.input-daterange').datepicker({
                language: 'fr',
                format: 'yyyy-mm-dd',
                startDate: new Date(),
                datesDisabled: [
                    {% for day in property.reservedDays %}
                        '{{ day.format('Y-m-d') }}',
                    {% endfor %}
                ]
            });

            // Calcul pour le prix de la réservation
            $('.input-daterange').on('changeDate', function (event) {
                // Compter le nombre de jours réservées
                var days = $('.range-start').length + $('.range').length + $('.range-end:not(.range-start)').length;
                var price = days * {{ property.dayPrice }};
                $('#days').text(days);
                $('#total').text(price);
            });
        }
    </script>
{% endblock %}
