{% extends 'base.html.twig' %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1 class="text-center mb-5">Nous contacter</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>

            {{ form_widget(form) }}

            <button formnovalidate class="btn btn-primary">
                Envoyer
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
